<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <link href="../public/styles/style.css" rel="stylesheet">
      <title>Web Wizards</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
      <script src="../public/scripts/notification.js" defer></script>
      <script src="../public/scripts/validation.js"></script>
      <script src="../public/scripts/menu-script.js" defer></script>
      <!--  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" >
         <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->
   </head>
   <body>
      <!-- Nav Bar -->
      <header>
         <script src="https://kit.fontawesome.com/20313c72b7.js" crossorigin="anonymous"></script>
         <div class="header-content">
            <div class="logo">
               <a href="index.html"><img src="../public/images/Crossfire_Logo_no_bkgd.png" alt="A blue logo saying Crossfire with a flame in the middle"></a>
            </div>
            <div>
               <nav class="header-nav" >
                  <a href="#" id="menu-icon" class="menu-icon">
                     <img src="../public/images/menu-icon.png" alt="Menu icon with 3 black lines going horizontally ">
                  </a>
                  <ul id="menu-list">
                     <li><a href="#" id="ancHome">Home</a></li>
                     <li><a href="#" id="ancCreate">Create NCR</a></li>
                     <li><a href="#" id="ancLogs">NCR Log</a></li>
                     <li><a href="#" id="ancTools">Tools</a></li>
                  </ul>
               </nav>
            </div>
            <div>
               <button class="notification" id="btnNotification">
               <span class="fa-solid fa-bell"></span>
               <span class="badge" id="notification-count">0</span>
               </button>
            </div>
            <!-- Notification Modal -->
            <div id="notification-modal" class="modal">
               <!-- Modal content -->
               <div class="modal-content">
               </div>
            </div>
            <div id="product-modal" class="modal" style="z-index: 2;">
               <div class="modal-content">
                  <span class="close" id="close">&times;</span>
                  
                  <form onsubmit="event.preventDefault();" id="newProductForm" class="px-4">
                     <div class="row g-3">
                        <h2>New Product</h2>
                     </div>
                     <div class="row g-3">
                        <div class="form-group col-md-6">
                           <label for="newProductName">Product Name:</label>
                           <input type="text" id="newProductName" name="newProductName" placeholder="Product Name" required>
                        </div>
                        <div class="form-group col-md-6">
                           <label for="newProductNumber">Product Number:</label>
                           <input type="number" id="newProductNumber" name="newProductNumber" placeholder="---" min="100" max="999" required>
                        </div>
                        <div class="form-group col-md-12">
                           <button type="submit" class="yes" id="btnNewProduct">Add Product</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </header>
      <!-- Create Form -->
      <div class="container">
         <header>
            <h2>Non-Conformance Report - ISO: XXXXX</h2>
         </header>
         <form class="px-4 needs-validation" id="ncrform" onsubmit="event.preventDefault();" novalidate>
            <fieldset>
               <legend>Quality Assurance Form</legend>
            
            <!-- Fields for Quality Assurance Form -->
            <div class="row g-3">
               <!-- NCR Number -->
               <div class="form-group col-md-6">
                  <label for="NCRNumber" class="form-label">NCR Number </label>
                  <input type="text" class="form-control-plaintext" id="NCRNumber" placeholder="2024-XXX"   readonly>
               </div>
               <!-- Sales Order Number -->
                <div class="form-group col-md-6">
                  <label for="SalesOrder" class="form-label">Sales Order Number <span class="no">*</span> </label> 
                  
                  <input type="number" class="form-control" id="SalesOrder" min="100" max="999" aria-required="true" required>
                  <div class="invalid-feedback">
                     Enter a valid Sales Order Number
                   </div>
                </div>

            </div>
            <div class="row g-3">
               <!-- Supplier -->
               <div class="form-group col-md-6">
                  <label for="SupplierID" class="form-label">Supplier <span class="no">*</span> </label>
                  <select class="form-select" id="SupplierID" name="SupplierID" aria-required="true" onblur="SupplierValidation()" required>
                     <option selected value='' disabled>Select a Supplier</option>
                  </select>
                  <div class="invalid-feedback" id="supplier-feedback">
                     Please select a Supplier
                   </div>
               </div>
               <!-- Product Info -->
               <div class="form-group col-md-6">
                  <label for="ProductID" class="form-label">Product <span class="no">*</span> </label>
                  <select class="form-select" id="ProductID" name="ProductID" disabled aria-required="true" onblur="ProductValidation()" required>
                     <option selected value='' disabled>No products available</option>
                  </select>
                  <div class="invalid-feedback" id="product-feedback">
                     Please select a Product
                   </div>
                  <!-- Product Number -->
                  <span id="ProductNumber" class="form-text text-muted">Number:</span>
               </div>
            </div>
            <div class="row g-3">
               <!-- Defect Description -->
               <div class="form-group col-md-12">
                  <label for="Details" class="form-label">Description of Defect <span class="no">*</span> </label>
                  <textarea class="form-control" id="Details" name="Details" rows="3" aria-required="true" required></textarea>
                  <div class="invalid-feedback">
                     Please enter a description of the defect
                   </div>
               </div>
            </div>
            <div class="row g-3">
               <!-- Quantity Received -->
               <div class="form-group col-md-6">
                  <label for="QuantityReceived" class="form-label">Quantity Received <span class="no">*</span> </label>
                  <input type="number" class="form-control" id="QuantityReceived" min="1" aria-required="true" onblur="QuantityRecValidation()" required>
                  <div class="invalid-feedback" id="received-invalid">
                     Please enter a valid quantity
                   </div>
               </div>
               <!-- Quantity Defective -->
               <div class="form-group col-md-6">
                  <label for="QuantityDefective" class="form-label">Quantity Defective <span class="no">*</span> </label>
                  <input type="number" class="form-control" id="QuantityDefective" min="1" aria-required="true" onblur="QuantityDefValidation()" required>
                  <div class="invalid-feedback" id="defective-invalid">
                     Please enter a valid quantity
                   </div>
               </div>
            </div>
            <div class="row g-3">
               <!-- Identify Process Applicable -->
               <div class="form-group col-md-6">
                  <label id="ProcessApplicable">Identify Process Applicable <span class="no">*</span> </label>
                  <div>
                     <div class="form-check form-check-inline">
                        <input name="processes" id="ProcessApplicable_0" type="radio" aria-required="true" required="required" class="form-check-input" value="WorkInProgress" aria-labelledby="ProcessApplicable">
                        <label for="ProcessApplicable_0" class="form-check-label">Work In Progress</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input name="processes" id="ProcessApplicable_1" type="radio" aria-required="true" required="required" class="form-check-input" value="SRInspection" aria-labelledby="ProcessApplicable">
                        <label for="ProcessApplicable_1" class="form-check-label">Supplier or Receiving Inspection</label>
                     </div>
                  </div>
               </div>
               <!-- Is Non-Conformance -->
               <div class="form-group col-md-6">
                  <Label id="item-non-conforming">Is Item Non-Conforming? <span class="no">*</span> </Label>
                  <div>
                     <div class="form-check form-check-inline">
                        <input name="nonconforming" id="IsNonConforming_0" type="radio" aria-required="true" required="required" class="form-check-input" value="Yes" aria-labelledby="item-non-conforming">
                        <label for="IsNonConforming_0" class="form-check-label">Yes</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input name="nonconforming" id="IsNonConforming_1" type="radio" aria-required="true" required="required" class="form-check-input" value="No" aria-labelledby="item-non-conforming">
                        <label for="IsNonConforming_1" class="form-check-label">No</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row g-3">
               <div class="form-group col-md-6">
                  <label for="QAName">Quality Representative </label>
                  <input type="text" class="form-control-plaintext" id="QAName" aria-required="true" readonly>
               </div>
               <div class="form-group col-md-6">
                  <label for="QADate">Date </label>
                  <input type="date" class="form-control" id="QADate" readonly>
               </div>
            </div>
            <!-- Submit Button -->
            <div class="row g-3">
               <div class="form group col-md-6">
                  <button type="submit" class="yes">Create NCR</button>
                  <button type="reset" class="no">Reset NCR</button>
               </div>
            </div>
         </fieldset>
         </form>
      </div>
      <footer>
         <p><small>CROSSFIRE NCR</small></p>
      </footer>
      <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script> -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script> -->
      <script>
         // Example starter JavaScript for disabling form submissions if there are invalid fields
         (function() {
           'use strict';
           window.addEventListener('load', function() {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function(form) {
               form.addEventListener('submit', function(event) {
                 if (form.checkValidity() === false) {
                   event.preventDefault();
                   event.stopPropagation();
                 }
                 form.classList.add('was-validated');
               }, false);
             });
           }, false);
         })();
         </script>
      <script type="module">
         import * as lookup from '../public/scripts/lookup.js';
         import { crudQuality, newFormUser, fetchData } from '../public/scripts/crud.js';
         document.addEventListener('DOMContentLoaded', () => {
            lookup.fillForm();

            const formControls = document.querySelectorAll('.form-control, .form-select');
            formControls.forEach(control => {
               const validFeedback = document.createElement('div');
               validFeedback.className = 'valid-feedback';
               validFeedback.textContent = 'Looks good!';
               
               const invalidFeedback = document.createElement('div');
               invalidFeedback.className = 'invalid-feedback';
               invalidFeedback.textContent = 'Please enter a valid value.';
               
                  if (!control.parentNode.querySelector('.invalid-feedback')) {
                    control.parentNode.appendChild(invalidFeedback);
                  }
               
               
               
               control.parentNode.appendChild(validFeedback);
            });


            const form = document.getElementById("ncrform");
            form.addEventListener("submit", async (event) => {

               if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            form.classList.add('was-validated'); // add validation class?
            return; // Exit if  form invalid
        }
        const qualityData = await crudQuality(
         "POST",
         document.getElementById("SalesOrder"),
         document.getElementById("ProcessApplicable_1"), 
         document.getElementById("ProcessApplicable_0"),
         document.getElementById("ProductID"),
         document.getElementById("QuantityReceived"),
         document.getElementById("QuantityDefective"),
         document.getElementById("IsNonConforming_0"),
         document.getElementById("Details"),
         document.getElementById("ProductID")
      );
      const qaform = qualityData.form;
      qaform.NCRNumber = qualityData.NCRNumber;
      qaform.type = 'Quality';
      window.location.href = `details.html?id=${qaform.lastInsertRowid}`;
         });
         });
      </script>
      <script src="../public/scripts/navigate.js"></script>
   </body>
</html>