<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/styles/style.css" rel="stylesheet">
    <title>Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
               <img src="../public/images/Crossfire_Logo_no_bkgd.png" alt="An image of Crossfire Logo">
            </div>
            <div>
               <nav class="header-nav">
                  <a href="index.html" class="nav-item" tabindex="2">Home</a>
                  <a href="create.html" class="nav-item" tabindex="3">Create NCR</a>
                  <a href="list.html" class="nav-item" tabindex="4">NCRs</a>
               </nav>
            </div>
            <!--<div class="user-info"> -->
               <!-- A button to open the popup form -->
               <!--<button class="open-button" onclick="openForm()">Sign in here</button>-->
               <!--<p>Hello, User</p>-->
            <!--</div>-->
         </div>
    </header>
    <table id="displayTable">

    </table>
    <script src="../public/scripts/details.js"></script>

</body>
</html>