<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../public/styles/style.css" rel="stylesheet">
      <title>Web Wizards</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" >
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
   </head>
   <body>
      <!-- Nav Bar -->
      <header>
         <div class="header-content">
            <!-- Size up the logo -->
            <div class="logo">
               <img src="../public/images/Crossfire_Logo_no_bkgd.png" alt="An image of Crossfire Logo">
            </div>
            <div>
               <nav class="header-nav">
                  <a href="index.html" class="nav-item" tabindex="2">Home</a>
                  <a href="form.html" class="nav-item" tabindex="3">Form</a>
                  <a href="list.html" class="nav-item" tabindex="4">NCRs</a>
                  <a href="edit.html?id=2" class="nav-item" tabindex="5">Edit Test</a>
               </nav>
            </div>
            <div class="user-info">
               <!-- A button to open the popup form -->
               <button class="open-button" onclick="openForm()">Sign in here</button>
            </div>
         </div>
         <!-- The form -->
         <div class="form-popup" id="myForm" style="display: none;">
            <form action="/action_page.php" class="form-container login-form">
               <h1>Login</h1>
               <label for="email"><b>Email</b></label>
               <input type="text" placeholder="Enter Email" id="email" class="login-input" required>
               <label for="psw"><b>Password</b></label>
               <input type="password" placeholder="Enter Password" id="psw" class="login-input" required>
               <button type="submit" class="btn submit-login">Login</button>
               <button type="button" class="btn cancel-login" onclick="closeForm()">Close</button>
            </form>
         </div>
      </header>
      <!-- Edit Form -->
      <div class="form-container">
         <h2>Edit NCR Form</h2>
         <form action="/edit-ncr" method="POST" id="editForm">
            <div class="view-container">
               <!-- Fields for Quality Assurance Form -->
               <div id="normView" class="view">
                  
                  <fieldset>
                     <legend>Quality Representative</legend>
                     
                      <table>
                        <!-- Item Description -->
                        <tr>
                           <td>
                              <label for="itemDescription">Product Name:</label>
                           </td>
                           <td>
                              <select id="itemDescription" name="itemDescription" class="js-example-basic-single" style="width: 300px;" required>
                                 <option value="" disabled selected>Select an item</option>
                                 <optgroup label="Recent Options">
                                    <option value="Bicycle">Bicycle</option>
                                    <option value="Toy Robot">Toy Robot</option>
                                    <option value="Electric Tow Tractor">Electric Tow Tractor</option>
                                 </optgroup>
                                 <optgroup label="All Options">
                                    <option value="Magic Wand">Magic Wand</option>
                                    <option value="Safety Helmet">Safety Helmet</option>
                                    <option value="Giant Bubble Blower">Giant Bubble Blower</option>
                                    <option value="Industrial Vacuum">Industrial Vacuum</option>
                                    <option value="Bicycle">Bicycle</option>
                                    <option value="Laser Level">Laser Level</option>
                                    <option value="Glow-in-the-Dark Frisbee">Glow-in-the-Dark Frisbee</option>
                                    <option value="Electric Forklift">Electric Forklift</option>
                                    <option value="Chocolate Fountain">Chocolate Fountain</option>
                                    <option value="Toy Robot">Toy Robot</option>
                                    <option value="Electric Tow Tractor">Electric Tow Tractor</option>
                                    <option value="Hydraulic Jack">Hydraulic Jack</option>
                                    <option value="Portable Rainbow Maker">Portable Rainbow Maker</option>
                                    <option value="Air Compressor">Air Compressor</option>
                                    <option value="Holographic Projector">Holographic Projector</option>
                                 </optgroup>
                              </select>
                           </td>
                        </tr>
                        <!-- Defect Description (dynamic dropdown) -->
                        <tr>
                           <td>
                              <label for="details">Description of Defect:</label> <br>
                           </td>
                           <td>
                              <textarea id="details" name="details" rows="4" required></textarea>
                           </td>
                        </tr>
                        <!-- Quantity Fields -->
                        <tr>
                           <td>
                              <label for="quantityReceived">Quantity Received:</label>
                           </td>
                           <td>
                              <input type="number" id="quantityReceived" name="quantityReceived" required>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <label for="quantityDefective">Quantity Defective:</label>
                           </td>
                           <td>
                              <input type="number" id="quantityDefective" name="quantityDefective" required>
                           </td>
                        </tr>
                        <!-- Identify Process Applicable -->
                        <tr>
                           <td>
                              <label>Identify Process Applicable:</label>
                           </td>
                           <td>
                              <input type="checkbox" id="isWorkInProgress" name="isWorkInProgress">
                        <label for="isWorkInProgress">WIP</label>
                        <input type="checkbox" id="supplierOrInspection" name="supplierOrInspection">
                        <label for="supplierOrInspection">Supplier or Receiving Inspection</label>
                           </td>
                        </tr>
                        <!-- Is Non-Conformance -->
                        <tr>
                           <td>
                              <label for="isNonConformance">Is Non-Conformance:</label>
                           </td>
                           <td>
                              <input type="checkbox" id="isNonConformance" name="isNonConformance">
                           </td>
                        </tr>
                      </table> 
                  </fieldset>
               
               </div>
               <div id="engiView" class="view" style="display: none;">
                  <fieldset>
                     <legend>Engineering</legend>
                     <!-- Review by CF Engineering -->
                     <div class="form-group">
                        <label>Review by CF Engineering:</label>
                        <input type="checkbox" id="useAsIs" name="useAsIs">
                        <label for="useAsIs">Use As Is</label>
                        <input type="checkbox" id="repair" name="repair">
                        <label for="repair">Repair</label>
                        <input type="checkbox" id="rework" name="rework">
                        <label for="rework">Rework</label>
                        <input type="checkbox" id="scrap" name="scrap">
                        <label for="scrap">Scrap</label>
                     </div>
                     <!-- Customer Notification -->
                     <div class="form-group">
                        <label>Does Customer require notification of NCR:</label>
                        <input type="radio" id="notifyTrue" name="notifyNCR" value="true">
                        <label for="notifyTrue">Yes</label>
                        <input type="radio" id="notifyFalse" name="notifyNCR" value="false">
                        <label for="notifyFalse">No</label>
                     </div>
                     <!-- Disposition -->
                     <div class="form-group">
                        <label for="dispoTxt">Disposition:</label> <br>
                        <textarea id="dispoTxt" name="dispoTxt" rows="4" required></textarea>
                     </div>
                     <!-- Drawing Requires Updating -->
                     <div class="form-group">
                        <label>Does the drawing require updating:</label>
                        <input type="radio" id="updTrue" name="updDrawing" value="true">
                        <label for="updTrue">Yes</label>
                        <input type="radio" id="updFalse" name="updDrawing" value="false">
                        <label for="updFalse">No</label>
                     </div>
                     <div class="form-group">
                        <span>Original Rev. Number:</span>
                        <label id="oriRevNum"></label>
                        <label for="updRevNum">Updated Rev. Number:</label>
                        <input type="text" id="updRevNum" name="updRevNum">
                     </div>
                     <div class="form-group">
                        <span>Name of Engineer:</span>
                        <label id="engiName"></label>
                        <label for="revDate">Revision Date:</label>
                        <input type="date" id="revDate" name="revDate">
                     </div>
                  </fieldset>
               </div>
            </div>
            <!-- Submit Button -->
            <br>
            <button type="submit">Save Changes</button>
         </form>
      </div>
      <script src="../public/scripts/createNCR.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <script>
         $(document).ready(function() {
             $('.js-example-basic-single').select2({
                 width: '300px', // Set the width of the dropdown
                 minimumResultsForSearch: 0 
             });
             loadNCRData();
         });
         
         async function loadNCRData() {
         try
         {
            const data = await fetch('../public/data/forms.json');
            const json = await data.json();
         
            // Get & Parse the query string
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const ncrId = parseInt(urlParams.get('id'));
         
            const ncrData = json.forms.find(form => form.id === ncrId)
            if (ncrData)
         {
         // Populate fields for the QA section
         document.getElementById('isWorkInProgress').checked = ncrData.isWorkInProgress;
         document.getElementById('supplierOrInspection').checked = ncrData.supplierOrInspection;
         document.getElementById('itemDescription').value = ncrData.itemDescription;
         document.getElementById('quantityReceived').value = ncrData.quantityReceived;
         document.getElementById('quantityDefective').value = ncrData.quantityDefective;
         document.getElementById('defectDescription').value = ncrData.defectDescription;
         document.getElementById('details').value = ncrData.details;
         
         // Populate fields for the engineering section
         document.getElementById('isNonConformance').checked = ncrData.isNonConformance;
         document.getElementById('useAsIs').checked = ncrData.useAsIs;
         document.getElementById('repair').checked = ncrData.repair;
         document.getElementById('rework').checked = ncrData.rework;
         document.getElementById('scrap').checked = ncrData.scrap;
         document.getElementById('dispoTxt').value = ncrData.dispoTxt;
         document.getElementById('updRevNum').value = ncrData.updRevNum;
         document.getElementById('revDate').value = ncrData.revDate;
         } else {
            console.error(`NCR with ID ${ncrId} not found.`);
         }
         } catch (error) {
         console.error('Error fetching NCR data:', error);
         }
         }
         function openForm() {
         document.getElementById("myForm").style.display = "block";
         }
         
         function closeForm() {
         document.getElementById("myForm").style.display = "none";
         }
      </script>
   </body>
</html>
