<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Web Wizards</title>

   <!-- Scripts -->
   <script src="../public/scripts/notification.js" type="module" defer></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
   <script src="../public/scripts/validation.js"></script>
   
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->

   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">

   <!-- Custom CSS -->
   <link href="../public/styles/style.css" rel="stylesheet">

   <script type="module">
      import * as lookup from '../public/scripts/forms/formHandler.js';

      document.addEventListener('DOMContentLoaded', async () => {

         // gets the id from URL
         const id = new URLSearchParams(window.location.search).get('id');
         if (!id) {
            alert('No ID provided in the URL');
            return;
         }
      });
   </script>
</head>

<body>
   <!-- Nav Bar -->
   <header>
      <script src="https://kit.fontawesome.com/20313c72b7.js" crossorigin="anonymous"></script>
      <div class="container">
         <nav class="navbar navbar-dark bg-dark">
            <a href="index.html" class="navbar-brand">
               <img src="../public/images/Crossfire_Logo_no_bkgd.png"
                  alt="A blue logo saying Crossfire with a flame in the middle">
            </a>
            <h1 class="navbar-text">Edit NCR</h1>
            <ul class="nav navbar-nav navbar-right">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle fa-solid fa-bell" href="#" id="notifDropdown" role="button"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                  <div class="dropdown-menu notif-container" id="notification-content" aria-labelledby="notifDropdown">
                     <!-- Notification Content fills in here from notification.js-->
                      <div id="qlt-list" style="display: none;"></div>
                     <div id="eng-list" style="display: none;"></div>
                     <div id="pur-list" style="display: none;"></div>
                  </div>
               </li>

               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <i class="fa-solid fa-user"></i> <span id="username"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="login.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                  </div>
               </li>
               <li class="nav-item">
                  <a href="#">
                     <i class="fa-solid fa-circle-info"></i>
                  </a>
               </li>
            </ul>
            <div class="navbar-collapse"></div>
            <ul class="nav navbar-nav">
               <li><a href="index.html">Dashboard</a></li>
               <li id="li-create" style="display: none;"><a href="create.html">Create NCR</a></li>
               <li class="active"><a href="list.html">NCR Logs</a></li>
               <li id="li-tools" style="display: none;"><a href="tools.html">Tools</a></li>
            </ul>
         </nav>
      </div>
   </header>


   <!-- Navigation -->
   <div class="container-tools">
      <nav id="nav" class="tools">
         <div class="top">
            <ul>
               <li>
                  <a href="#" id="btnNavQuality" onclick="toggleForm('ncrform_quality')">
                     <i class="fa-solid fa-magnifying-glass"></i>
                     Quality
                  </a>
               </li>
            </ul>
            <ul>
               <li>
                  <a href="#" id="btnNavEngineer" onclick="toggleForm('ncrform_engineer')">
                     <i class="fa-solid fa-helmet-safety"></i>
                     Engineer
                  </a>
               </li>
            </ul>
            <ul>
               <li>
                  <a href="#" id=btnNavPurchasing onclick="toggleForm('ncrform_purchasing')">
                     <i class="fa-solid fa-cart-shopping"></i>
                     Purchasing
                  </a>
               </li>
            </ul>
         </div>
      </nav>


      <!-- New Product Form -->
      <div id="product-modal" class="modal" style="z-index: 2;">
         <div class="modal-content">
            <span class="close" id="close">&times;</span>

            <form onsubmit="event.preventDefault();" class="px-4">
               <fieldset id="fs_product">
                  <legend>New Product</legend>
                  <div class="row g-3">
                     <div class="form-group col-md-6">
                        <label for="NEWName">Product Name:</label>
                        <input type="text" id="NEWName" name="newProductName" placeholder="Product Name" required>
                     </div>
                     <div class="form-group col-md-6">
                        <label for="NEWNumber">Product Number:</label>
                        <input type="number" id="NEWNumber" name="newProductNumber" placeholder="---" min="100"
                           max="999" required>
                     </div>
                     <div class="form-group col-md-12">
                        <button class="yes" id="NEWProduct">Add Product</button>
                     </div>
                  </div>
               </fieldset>
            </form>
         </div>
      </div>
      <!-- Create Form -->
      <div class="container edit">
         <header>
            <h2>Non-Conformance Report - ISO: OPS-00011</h2>
         </header>
         <form class="px-4 needs-validation" id="ncrform_quality" onsubmit="event.preventDefault();"
            style="display: none;" novalidate>
            <fieldset id="fs_quality">
               <legend>Quality Assurance Form</legend>
               <!-- Fields for Quality Assurance Form -->
               <div class="row g-3">
                  <!-- NCR Number -->
                  <div class="form-group col-md-6">
                     <label for="NCRNumber" class="form-label">NCR Number</label>
                     <input type="text" class="form-control-plaintext" id="NCRNumber" placeholder="2024-XXX" readonly>
                  </div>
                  <!-- Sales Order Number -->
                  <div class="form-group col-md-6">
                     <label for="SalesOrder" class="form-label">Sales Order Number <span class="no">*</span> </label>
                     <input type="number" class="form-control" id="SalesOrder" min="100" max="999" aria-required="true"
                        required>
                  </div>
               </div>
               <div class="row g-3">
                  <!-- Supplier -->
                  <div class="form-group col-md-6">
                     <label for="SupplierID" class="form-label">Supplier <span class="no">*</span> </label>
                     <select class="form-select" id="SupplierID" name="SupplierID" aria-required="true"
                        onblur="SupplierValidation()" required>
                        <option selected value=''>Select a supplier</option>
                     </select>
                     <div class="invalid-feedback" id="supplier-feedback">
                        Please select a Supplier
                     </div>
                  </div>
                  <!-- Product Info -->
                  <div class="form-group col-md-6">
                     <label for="ProductID" class="form-label">Product <span class="no">*</span> </label>
                     <select class="form-select" id="ProductID" name="ProductID" aria-required="true"
                        onblur="ProductValidation()" required>
                        <option selected value=''>No products available</option>
                     </select>
                     <div class="invalid-feedback" id="product-feedback">
                        Please select a Product
                     </div>

                     <!-- Product Number -->
                     <span id="ProductNumber" class="form-text text-muted">Number:</span>
                  </div>
               </div>
               <div class="row g-3">
                  <!-- Defect Description -->
                  <div class="form-group col-md-12">
                     <label for="Details" class="form-label">Description of Defect <span class="no">*</span> </label>
                     <br>
                     <textarea class="form-control" id="Details" name="Details" rows="3" aria-required="true"
                        required></textarea>
                  </div>
               </div>
               <div class="row g-3">
                  <!-- Quantity Received -->
                  <div class="form-group col-md-6">
                     <label for="QuantityReceived" class="form-label">Quantity Received <span class="no">*</span>
                     </label>
                     <input type="number" class="form-control" id="QuantityReceived" min="1" aria-required="true"
                        onblur="QuantityRecValidation()" required>
                     <div class="invalid-feedback" id="received-invalid">
                        Please enter a valid quantity
                     </div>
                  </div>
                  <!-- Quantity Defective -->
                  <div class="form-group col-md-6">
                     <label for="QuantityDefective" class="form-label">Quantity Defective <span class="no">*</span>
                     </label>
                     <input type="number" class="form-control" id="QuantityDefective" min="1" aria-required="true"
                        onblur="QuantityDefValidation()" required>
                     <div class="invalid-feedback" id="defective-invalid">
                        Please enter a valid quantity
                     </div>

                  </div>
               </div>
               <div class="row g-3">
                  <!-- Identify Process Applicable -->
                  <div class="form-group col-md-6">
                     <label id="ProcessApplicable">Identify Process Applicable <span class="no">*</span> </label>
                     <div>
                        <div class="form-check form-check-inline">
                           <input name="processes" id="ProcessApplicable_0" type="radio" aria-required="true"
                              required="required" class="form-check-input" value="WorkInProgress"
                              aria-labelledby="ProcessApplicable">
                           <label for="ProcessApplicable_0" class="form-check-label">Work In Progress</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input name="processes" id="ProcessApplicable_1" type="radio" aria-required="true"
                              required="required" class="form-check-input" value="SRInspection"
                              aria-labelledby="ProcessApplicable">
                           <label for="ProcessApplicable_1" class="form-check-label">Supplier or Receiving
                              Inspection</label>
                        </div>
                     </div>
                  </div>
                  <!-- Is Non-Conformance -->
                  <div class="form-group col-md-6">
                     <Label id="item-non-conforming">Is Item Non-Conforming? <span class="no">*</span> </Label>
                     <div>
                        <div class="form-check form-check-inline">
                           <input name="nonconforming" id="IsNonConforming_0" type="radio" aria-required="true"
                              required="required" class="form-check-input" value="Yes"
                              aria-labelledby="item-non-conforming">
                           <label for="IsNonConforming_0" class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input name="nonconforming" id="IsNonConforming_1" type="radio" aria-required="true"
                              required="required" class="form-check-input" value="No"
                              aria-labelledby="item-non-conforming">
                           <label for="IsNonConforming_1" class="form-check-label">No</label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row g-3">
                  <div class="form-group col-md-6">
                     <label for="QLTName">Quality Representative </label>
                     <input type="text" class="form-control-plaintext" id="QLTName" readonly>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="QLTDate">Date </label>
                     <input type="date" class="form-control" id="QLTDate" readonly>
                  </div>
               </div>
               <!-- Submit Button -->
               <div class="row g-3">
                  <div class="form group col-md-6">
                     <button type="submit" class="yes" id="QLTSubmit">Save NCR</button>
                  </div>
                  <div class="form group col-md-6">
                     <label for="QLTStatus">Status </label>
                     <select class="form-select" id="QLTStatus" name="QLTStatus" aria-required="true" required>
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                     </select>
                  </div>
               </div>
            </fieldset>
         </form>
         <form class="px-4 needs-validation" id="ncrform_engineer" onsubmit="event.preventDefault();"
            style="display: none;" novalidate>
            <fieldset id="fs_engineer">
               <legend>Engineer Form</legend>
               <!-- Fields for Engineer Form -->
               <div class="row g-3">
                  <!-- Review by CF Engineering -->
                  <div class="form-group col-md-6">
                     <label>Review by CF Engineering <span class="no">*</span> </label>
                     <div>
                        <div class="form-check form-check-inline">
                           <input name="Review" id="Review_0" type="radio" required="required" aria-required="true"
                              class="form-check-input" value="Use As Is">
                           <label for="Review_0" class="form-check-label">Use As Is</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input name="Review" id="Review_1" type="radio" required="required" aria-required="true"
                              class="form-check-input" value="Repair">
                           <label for="Review_1" class="form-check-label">Repair</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input name="Review" id="Review_2" type="radio" required="required" aria-required="true"
                              class="form-check-input" value="Rework">
                           <label for="Review_2" class="form-check-label">Rework</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input name="Review" id="Review_3" type="radio" required="required" aria-required="true"
                              class="form-check-input" value="Scrap">
                           <label for="Review_3" class="form-check-label">Scrap</label>
                        </div>
                     </div>
                  </div>
                  <!-- Customer Notification -->
                  <div class="form-group col-md-6">
                     <label>Notify customer of NCR <span class="no">*</span> </label>
                     <div>
                        <div class="form-check form-check-inline">
                           <input name="NotifyCustomer" id="NotifyCustomer_0" type="radio" required="required"
                              aria-required="true" class="form-check-input" value="Yes">
                           <label for="NotifyCustomer_0" class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input name="NotifyCustomer" id="NotifyCustomer_1" type="radio" required="required"
                              aria-required="true" class="form-check-input" value="No">
                           <label for="NotifyCustomer_1" class="form-check-label">No</label>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Disposition -->
               <div class="row g-3">
                  <div class="form-group col-md-12">
                     <label for="Disposition">Disposition <span class="no">*</span> </label>
                     <textarea class="form-control" id="Disposition" name="Disposition" rows="3" required
                        aria-required="true"></textarea>
                  </div>
               </div>
               <!-- Drawing Requires Updating -->
               <div class="row g-3">
                  <div class="form-group col-md-6">
                     <label>Does the drawing require updating </label>
                     <div>
                        <div class="form-check form-check-inline">
                           <input name="DrawingUpdateRequired" id="DrawingUpdateRequired_0" type="radio"
                              class="form-check-input" value="1">
                           <label for="DrawingUpdateRequired_0" class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input name="DrawingUpdateRequired" id="DrawingUpdateRequired_1" type="radio"
                              class="form-check-input" value="0" checked="true">
                           <label for="DrawingUpdateRequired_1" class="form-check-label">No</label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row g-3">
                  <!-- Revision Information -->
                  <div class="form-group col-md-4">
                     <label for="RevisionNumber">Rev. Number</label>
                     <input type="text" class="form-control-plaintext" id="RevisionNumber" placeholder="N/A" readonly>
                  </div>
                  <div class="form-group col-md-4" id="NewRevNum" style="display: none;">
                     <label for="NewRevisionNumber">Updated Rev. Number</label>
                     <input type="text" class="form-control-plaintext" id="NewRevisionNumber" readonly>
                  </div>
                  <div class="form-group col-md-4" id="NewRevDate" style="display: none;">
                     <label for="RevisionDate" id="lblRevisionDate">Revision Date</label>
                     <input type="date" class="form-control" id="RevisionDate">
                  </div>
               </div>
               <div class="row g-3">
                  <div class="form-group col-md-6">
                     <label for="ENGName" class="form-group col-md-4">Engineer</label>
                     <input type="text" class="form-control-plaintext" id="ENGName" readonly>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="ENGDate">Date</label>
                     <input type="date" class="form-control" id="ENGDate" readonly>
                  </div>
               </div>
               <!-- Submit Button -->
               <div class="row g-3">
                  <div class="form group col-md-6">
                     <button type="submit" class="yes" id="ENGSubmit">Save NCR</button>
                  </div>
                  <div class="form group col-md-6">
                     <label for="ENGStatus">Status </label>
                     <select class="form-select" id="ENGStatus" name="ENGStatus" aria-required="true" required>
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                     </select>
                  </div>
               </div>
            </fieldset>
         </form>
      </div>
   </div>
   <form class="px-4 needs-validation" id="ncrform_purchasing" onsubmit="event.preventDefault();"
   style="display: none;" novalidate>
   <fieldset id="fs_purchasing">
      <legend>Purchasing Form</legend>
      <!-- Fields for Purchasing Form -->
      <div class="row g-3">
         <!-- Purchasings Preliminary Decision -->
         <div class="form-group col-md-6">
            <label>Preliminary Decision <span class="no">*</span> </label>
            <div>
               <div class="form-check form-check-inline">
                  <input name="Decision" id="Decision_0" type="radio" required="required" aria-required="true"
                     class="form-check-input" value="Return To Supplier">
                  <label for="Decision_0" class="form-check-label">Return To Supplier</label>
               </div>
               <div class="form-check form-check-inline">
                  <input name="Decision" id="Decision_1" type="radio" required="required" aria-required="true"
                     class="form-check-input" value="Rework In House">
                  <label for="Decision_1" class="form-check-label">Rework In House</label>
               </div>
               <div class="form-check form-check-inline">
                  <input name="Decision" id="Decision_2" type="radio" required="required" aria-required="true"
                     class="form-check-input" value="Scrap">
                  <label for="Decision_2" class="form-check-label">Scrap</label>
               </div>
               <div class="form-check form-check-inline">
                  <input name="Decision" id="Decision_3" type="radio" required="required" aria-required="true"
                     class="form-check-input" value="Defer for HBC Engineering Review">
                  <label for="Decision_3" class="form-check-label">Defer for HBC Engineering Review</label>
               </div>
            </div>
         </div>
         <!-- CAR Raised? -->
         <div class="form-group col-md-6">
            <label>Was a CAR Raised? <span class="no">*</span> </label>
            <div>
               <div class="form-check form-check-inline">
                  <input name="CarRaised" id="CarRaised_0" type="radio" required="required"
                     aria-required="true" class="form-check-input" value="Yes">
                  <label for="CarRaised_0" class="form-check-label">Yes</label>
               </div>
               <div class="form-check form-check-inline">
                  <input name="CarRaised" id="CarRaised_1" type="radio" required="required"
                     aria-required="true" class="form-check-input" value="No">
                  <label for="CarRaised_1" class="form-check-label">No</label>
               </div>
            </div>
         </div>
      </div>
      <!-- Follow-up Required? -->
      <div class="form-group col-md-6">
         <label>Follow-Up Required? <span class="no">*</span> </label>
         <div>
            <div class="form-check form-check-inline">
               <input name="Follow-up" id="Follow-up_0" type="radio" required="required"
                  aria-required="true" class="form-check-input" value="Yes">
               <label for="Follow-up_0" class="form-check-label">Yes</label>
            </div>
            <div class="form-check form-check-inline">
               <input name="Follow-up" id="Follow-up_1" type="radio" required="required"
                  aria-required="true" class="form-check-input" value="No">
               <label for="Follow-up_1" class="form-check-label">No</label>
            </div>
         </div>
      </div>
   </div>
   <!-- CAR Number-->
   <div class="form-group col-md-4" id="CARNumber"> <!-- style="display: none;"-->
      <label for="CARNumber">Car Number</label>
      <input type="text" class="form-control-plaintext" id="CARNumber">
   </div>
   <!-- Follow up Type & Date -->
   <div class="form-group col-md-4" id="Follow-Up-Type"> <!-- style="display: none;"-->
      <label for="Follow-Up-Type">Follow-Up Type</label>
      <input type="text" class="form-control-plaintext" id="Follow-Up-Type">
   </div>
   <div class="form-group col-md-4" id="Follow-Up-Date" > <!-- style="display: none;"-->
      <label for="Follow-Up-Date" id="lblFollow-Up-Date">Follow-Up Expected Date</label>
      <input type="date" class="form-control" id="Follow-Up-Date">
   </div>      
   <!-- Purchasing Name & Date -->
      <div class="row g-3">
         <div class="form-group col-md-6">
            <label for="PURName" class="form-group col-md-4">Operations Manager</label>
            <input type="text" class="form-control-plaintext" id="PURName" readonly>
         </div>
         <div class="form-group col-md-6">
            <label for="PURDate">Date</label>
            <input type="date" class="form-control" id="PURDate" readonly>
         </div>
      </div>
      <!-- Submit Button -->
      <div class="row g-3">
         <div class="form group col-md-6">
            <button type="submit" class="yes" id="PURSubmit">Save NCR</button>
         </div>
         <div class="form group col-md-6">
            <label for="PURStatus">Status </label>
            <select class="form-select" id="PURStatus" name="PURStatus" aria-required="true" required>
               <option value="Open">Open</option>
               <option value="Closed">Closed</option>
            </select>
         </div>
      </div>
   </fieldset>
</form>
</div>
</div>

   <footer>
      <p><small>CROSSFIRE NCR</small></p>
   </footer>
   <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
   <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
         'use strict';
         window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
               form.addEventListener('submit', function (event) {
                  if (form.checkValidity() === false) {
                     event.preventDefault();
                     event.stopPropagation();
                  }
                  form.classList.add('was-validated');
               }, false);
            });
         }, false);
      })();

      function toggleForm(formId) {
         var forms = document.querySelectorAll('form');
         forms.forEach(function (form) {
            if (form.id === formId) {
               form.style.display = form.style.display === 'none' ? 'block' : 'none';
            } else {
               form.style.display = 'none';
            }
         });
      }

   </script>
   <script src="../public/scripts/navigate.js"></script>
</body>

</html>