<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <div class="two-col">
            <img src="images/Crossfire_Logo.jpg" alt="Crossfire NCR Logo">
            <div>
                <fieldset class="fieldset-sml">
                    <legend>User Information</legend>
                    <div>
                        <!--User Info-->
                    </div>
                </fieldset>
            </div>
        </div>
        <nav> 
            <a href="index.html">Home</a>
            <a href="create.html">Create</a>
            <a href="edit.html">Edit</a>
            <a href="list.html">List</a>
        </nav>
        <h1>Home Page</h1>
    </header>
    <main>
        <!--Main Content-->
    </main>
    <footer>
        <hr><p><small>CROSSFIRE NCR</small></p>
    </footer>
</body>
</html>