<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Dashboard</title>
   <!-- Scripts -->
   <script src="../public/scripts/notification.js" type="module" defer></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
   
   <link href="../public/styles/style.css" rel="stylesheet">
</head>

<body>
   <!-- Nav Bar -->
   <header>
      <script src="https://kit.fontawesome.com/20313c72b7.js" crossorigin="anonymous"></script>
      <div class="container">
         <nav class="navbar navbar-dark bg-dark">
            <a href="index.html" class="navbar-brand">
               <img src="../public/images/Crossfire_Logo_no_bkgd.png"
                  alt="A blue logo saying Crossfire with a flame in the middle">
            </a>
            <h1 class="navbar-text">Dashboard</h1>
            <ul class="nav navbar-nav navbar-right">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle fa-solid fa-bell" href="#" id="notifDropdown" role="button"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="unread-count" class="badge badge-info"></span></a>
                  <div class="dropdown-menu notif-container" id="notification-content" aria-labelledby="notifDropdown">
                     <!-- Notification Content fills in here from notification.js-->
                      <div id="qlt-list" style="display: none;"></div>
                     <div id="eng-list" style="display: none;"></div>
                     <div id="pur-list" style="display: none;"></div>
                  </div>
               </li>

               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <i class="fa-solid fa-user"></i> <span id="username"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="login.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                  </div>
               </li>
               <li class="nav-item">
                  <a href="info.html">
                     <i class="fa-solid fa-circle-info"></i>
                  </a>
               </li>
            </ul>
            <div class="navbar-collapse"></div>
            <ul class="nav navbar-nav alt-style">
               <li class="active"><a href="index.html">Dashboard</a></li>
               <li id="li-create" style="display: none;"><a href="create.html">Create NCR</a></li>
               <li><a href="list.html">NCR Logs</a></li>
               <li id="li-tools" style="display: none;"><a href="tools.html">Tools</a></li>
            </ul>
         </nav>
      </div>
   </header>
   <!-- Main Content -->
   <main>
      <!-- Three main nav layout here -->
      <div class="home-nav">
         <div>
            <a href="create.html">
               <img src="../public/images/add.png" alt="Black icon for Create NCR page">
               <!--<a href="https://www.flaticon.com/free-icons/create" title="create icons">Create icons created by Gajah Mada - Flaticon</a>-->
               <label>CREATE NCR</label>
            </a>
         </div>
         <div>
            <a href="list.html">
               <img src="../public/images/edit.png" alt="Black icon for NCRs Log page">
               <!--<a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Pixel perfect - Flaticon</a> -->
               <label>NCRS</label>
            </a>
         </div>
         <div>
            <a href="reports.html">
               <img src="../public/images/search.png" alt="Black icon for NCR reports page">
               <!--<a href="https://www.flaticon.com/free-icons/list" title="list icons">List icons created by Freepik - Flaticon</a>-->
               <label>VIEW REPORTS</label>
            </a>
         </div>
      </div>
      <!-- Template for the recently updated NCR Forms -->
      <section class="recent-forms">
         <h2>Recent NCR Forms</h2>
         <div class="table-responsive">
            <table id="table" class="table">
               <tr class="shaded-cells">
                  <th>NCR Number</th>
                  <th>Item Name</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th></th>
                  <th></th>
               </tr>
            </table>
         </div>
      </section>
   </main>

   <footer>
      <p><small>CROSSFIRE NCR</small></p>
   </footer>

   <script src="../public/scripts/recentList.js"></script>
</body>

</html>