<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <title>Dashboard</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
   <script src="../public/scripts/notification.js" type="module" defer></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="../public/styles/style.css" rel="stylesheet">
</head>

<body>
   <!-- Nav Bar -->
   <header>
      <script src="https://kit.fontawesome.com/20313c72b7.js" crossorigin="anonymous"></script>
      <nav class="navbar navbar-default">
         <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
               <div class="container-fluid">
                  <div class="navbar-header" style="height: 60px;">
                     <a href="index.html" class="navbar-brand"><img src="../public/images/Crossfire_Logo_no_bkgd.png"
                           alt="A blue logo saying Crossfire with a flame in the middle" width="200" height="60"
                           class="d-inline-block align-top"></a>
                  </div>
                  <span class="navbar-text" style="line-height: 80px;"><i class="fa-solid fa-ellipsis-vertical"
                        style="font-size: 1.5em;"></i></span>
                  <h1 class="navbar-text" style="line-height: 80px;">Dashboard</h1>
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="#"><button class="notification" id="btnNotification"><i class="fa-solid fa-bell"
                                 style="font-size: 2em; line-height: 80px;"></i>
                              <span class="badge" id="notification-count">0</span>
                           </button></a></li>

                     <span class="navbar-text" style="line-height: 80px;"><i class="fa-solid fa-ellipsis-vertical"
                           style="font-size: 1.5em;"></i></span>
                     <span class="navbar-text" style="line-height: 80px; font-size: 2em;"><i
                           class="fa-solid fa-user"></i>Username</span>
                     <li><a href="#"><i class="fa-solid fa-right-from-bracket"
                              style="font-size: 2em; line-height: 80px;"></i></a></li>
                     <span class="navbar-text" style="line-height: 80px;"><i class="fa-solid fa-ellipsis-vertical"
                           style="font-size: 1.5em;"></i></span>
                     <li><a href="#"><i class="fa-solid fa-circle-info"
                              style="font-size: 2em; line-height: 80px;"></i></a></li>
                  </ul>
                  <div class="navbar-collapse"></div>
                  <ul class="nav navbar-nav">
                     <li class="active"><a href="index.html">Dashboard</a></li>
                     <li><a href="create.html">Create NCR</a></li>
                     <li><a href="list.html">NCR Logs</a></li>
                     <li><a href="tools.html">Tools</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-1"></div>
            <!-- Notification Modal -->
         <div id="notification-modal" class="modal" style="z-index: 150;">
            <!-- Modal content -->
            <div class="modal-content" id="notification-content">
               <span class="close" id="close-modal">&times;</span>
               <div class="notification-container" id="qlt-list">
                  <h3>New NCRs</h3>
                  <ul id="new-qlt-list"></ul>
                  <h3>Updated NCRs</h3>
                  <ul id="updated-qlt-list"></ul>
               </div>
               <div class="notification-container" id="eng-list">
                  <h3>Closed Quality NCRs</h3>
                  <ul id="closed-qlt-list"></ul>
                  <h3>New NCRs</h3>
                  <ul id="new-eng-list"></ul>
                  <h3>Updated NCRs</h3>
                  <ul id="updated-eng-list"></ul>
               </div>
            </div>
         </div>
         </div>
      </nav>
   </header>

   <!-- Main Content -->
   <main>
      <!-- Three main nav layout here -->
      <div class="home-nav">
         <div>
            <img src="../public/images/add.png" alt="Black icon for Create NCR page">
            <!--<a href="https://www.flaticon.com/free-icons/create" title="create icons">Create icons created by Gajah Mada - Flaticon</a>-->
            <button id="btnCreateNCR">Create NCR</button>
         </div>
         <div>
            <img src="../public/images/edit.png" alt="Black icon for NCRs Log page">
            <!--<a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Pixel perfect - Flaticon</a> -->
            <button id="btnViewNCR">NCR Logs</button>
         </div>
         <div>
            <img src="../public/images/search.png" alt="Black icon for NCR reports page">
            <!--<a href="https://www.flaticon.com/free-icons/list" title="list icons">List icons created by Freepik - Flaticon</a>-->
            <button id="btnViewRep">View Reports</button>
         </div>
      </div>
      <!-- Template for the recently updated NCR Forms -->
      <section class="recent-forms">
         <h2>Recent NCR Forms</h2>
         <table id="table">
            <tr>
               <th>NCR Number</th>
               <th>Item Name</th>
               <th>Status</th>
               <th>Date</th>
            </tr>
         </table>
      </section>
   </main>

   <footer>
      <p><small>CROSSFIRE NCR</small></p>
   </footer>

   <script src="../public/scripts/recentList.js"></script>
</body>

</html>