<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCRs</title>
    <link href="../public/styles/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
    <script src="../public/scripts/notification.js" defer></script>
    <script src="../public/scripts/listScript.js" defer></script>
</head>
<body>
    <!-- Nav Bar -->
    <header>
        <script src="https://kit.fontawesome.com/20313c72b7.js" crossorigin="anonymous"></script>
        <div class="header-content">
           <div class="logo">
              <a href="index.html"><img src="../public/images/Crossfire_Logo_no_bkgd.png" alt="An image of Crossfire Logo"></a>
           </div>
           <div>
              <nav class="header-nav">
                 <button id="btnNavHome" tabindex="2">Home</button>
                 <button id="btnNavCreateNCR" tabindex="3">Create NCR</button>
                 <button id="btnNavNCRs" tabindex="4">NCR Logs</button>
              </nav>
           </div>
           <div>
              <button class="notification" id="btnNotification">
                 <span class="fa-solid fa-bell"></span>
                <span class="badge" id="notification-count">0</span>
              </button>
           </div>
           <!-- Notification Modal -->
           <div id="notification-modal" class="modal">
              <!-- Modal content -->
              <div class="modal-content" id="notification-content">
                 <span class="close">&times;</span>
              </div>
           </div>
        </div>
     </header>
    <main>
        <h1>NCRs</h1>
        <section>
            <input type="text" id="filterSupplier">
            <select id="filterStatus">
               <option value="ANY">Any Status</option>
                <option value="Open">Open</option>
                <option value="Closed">Closed</option>
                <option value="Archived">Archived</option>
            </select>
            <button id="btnFilter">Filter</button>
        </section>
        <table id="table" class="table-borders">
            <tr>
                <th class="table-borders">NCR</th>
                <th class="table-borders">Supplier</th>                
                <th class="table-borders">Status</th>
                <th class="table-borders">Date</th>
            </tr>
        </table>
    </main>
    <footer class="commit-bottom">
        <hr><p><small>CROSSFIRE NCR</small></p>
    </footer>
    <script src="../public/scripts/navigate.js"></script>
</body>
</html>
