<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCR Forms</title>
    <link href="../public/styles/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Nav Bar -->
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="..\public\images\Crossfire_Logo_no_bkgd.png" alt="An image of Crossfire Logo">
            </div>
            <div class="user-info">
                <p tabindex="1">Sign in here</p>
            </div>
        </div>
            <nav class="header-nav">
                <a href="index.html" class="nav-item" tabindex="2">Home</a>
                <a href="form.html" class="nav-item" tabindex="3">Form</a>
                <a href="list.html" class="nav-item" tabindex="4">Existing Forms</a>
            </nav>
    </header>
    <main>
        <h1>Existing NCR Forms</h1>
        <table>
            <tr>
                <th>NCR Number</th>
                <th>Item Name</th>
                <th>Defect Description</th>
                <th>Quantity Recieved</th>
                <th>Quantity Defective</th>
            </tr>
            <tr>
                <td>2024-000</td>
                <td>Bicycle</td>
                <td>Deformation</td>
                <td>1000</td>
                <td>10</td>
            </tr>
            <tr>
                <td>2024-001</td>
                <td>Toy Robot</td>
                <td>Discolouration</td>
                <td>500</td>
                <td>250</td>
            </tr>
            <tr>
                <td>2024-002</td>
                <td>Electric Tow Tractor</td>
                <td>Missing Parts</td>
                <td>150</td>
                <td>7</td>
            </tr>
        </table>
    </main>
    <footer class="commit-bottom">
        <hr><p><small>CROSSFIRE NCR</small></p>
    </footer>
</body>
</html>
