<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCRs</title>
    <link href="../public/styles/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Nav Bar -->
    <header>
       <script type="module" src="../public/scripts/listScript.js"></script>
       <script>
           function openForm() {
           document.getElementById("myForm").style.display = "block";
           }
           
           function closeForm() {
           document.getElementById("myForm").style.display = "none";
           }
        </script>
        <div class="header-content">
           <!-- Size up the logo -->
           <div class="logo">
              <img src="../public/images/Crossfire_Logo_no_bkgd.png" alt="An image of Crossfire Logo">
           </div>
           <div>
              <nav class="header-nav">
                 <a href="index.html" class="nav-item" tabindex="2">Home</a>
                 <a href="create.html" class="nav-item" tabindex="3">Create</a>
                 <a href="list.html" class="nav-item" tabindex="4">NCRs</a>
              </nav>
           </div>
        </div>
     </header>
    <main>
        <h1>NCRs</h1>
        <table id="table" class="table-borders">
            <tr>
                <th class="table-borders">NCR</th>
                <th class="table-borders">Supplier</th>                
                <th class="table-borders">Status</th>
                <th class="table-borders">Date</th>
            </tr>
        </table>
    </main>
    <footer class="commit-bottom">
        <hr><p><small>CROSSFIRE NCR</small></p>
    </footer>


</body>
</html>
