<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../public/styles/style.css" rel="stylesheet">
      <title>Reports Page</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
   </head>
   <body>
      <!-- Nav Bar -->
      <header>
         <div class="header-content">
            <div class="logo">
               <img src="../public/images/Crossfire_Logo_no_bkgd.png" alt="An image of Crossfire Logo">
            </div>
            <div>
               <nav class="header-nav">
                  <a href="index.html" class="nav-item" tabindex="2">Home</a>
                  <a href="form.html" class="nav-item" tabindex="3">Form</a>
                  <a href="list.html" class="nav-item" tabindex="4">Existing Forms</a>
               </nav>
            </div>
            <div class="user-info">
               <!-- A button to open the popup form -->
               <!--<button class="open-button" onclick="openForm()">Sign in here</button>-->
               <p>Hello, User</p>
            </div>
         </div>
         <!-- The form -->
         <div class="form-popup" id="myForm" style="display: none;">
            <form action="/action_page.php" class="form-container login-form">
               <h1>Login</h1>
               <label for="email"><b>Email</b></label>
               <input type="text" placeholder="Enter Email" id="email" class="login-input" required>
               <label for="psw"><b>Password</b></label>
               <input type="password" placeholder="Enter Password" id="psw" class="login-input" required>
               <button type="submit" class="btn submit-login">Login</button>
               <button type="button" class="btn cancel-login" onclick="closeForm()">Close</button>
            </form>
         </div>
      </header>

    <main>
        <!-- Generate PDF Test Button -->
        <button id="btnGenPDF">Download PDF</button>
    </main>
    <footer class="commit-bottom">
      <hr>
      <p><small>CROSSFIRE NCR</small></p>
   </footer>
    <!-- Sripts -->
    <script>
        function openForm() {
        document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }
     </script>
     <!-- Include jsPDF library (version 1.x) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    <script src="../public/scripts/report.js"></script>
</body>
</html>