<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../public/styles/style.css" rel="stylesheet">
      <link href="../public/styles/jadestyle.css" rel="stylesheet">
      <title>Web Wizards</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
      <script src="../public/scripts/tools.js"></script>
      <script src="../public/scripts/crud.js"></script>
      <script src="../public/scripts/notification.js" defer></script>
      <script>
         document.addEventListener('DOMContentLoaded', async () => {
            await fetchData();
         });
      </script>
      <!--  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" >
         <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->
   </head>
   <body>
      <!-- Nav Bar -->
      <header>
         <script src="https://kit.fontawesome.com/20313c72b7.js" crossorigin="anonymous"></script>
         <div class="header-content">
            <!-- Size up the logo -->
            <div class="logo">
               <a href="index.html"><img src="../public/images/Crossfire_Logo_no_bkgd.png" alt="An image of Crossfire Logo"></a>
            </div>
            <div>
                <button class="notification" id="btnNotification">
                   <span class="fa-solid fa-bell"></span>
                  <span class="badge" id="notification-count">0</span>
                </button>
          </div>
          <!-- Notification Modal -->
<div id="notification-modal" class="modal" style="z-index: 150;">
 <!-- Modal content -->
 <div class="modal-content" id="notification-content">
   <span class="close">&times;</span>
 </div>
</div>
            <div>
               <nav class="header-nav">
                  <button id="btnNavHome" tabindex="2">Home</button>
                  <button id="btnNavCreateNCR" tabindex="3">Create NCR</button>
                  <button id="btnNavNCRs" tabindex="4">NCR Logs</button>
               </nav>
            </div>
         </div>
      </header>
      <!-- Navigation -->
      <nav id="nav">
         <div class="top">
            <ul>
               <li>
                  <a href="#" onclick="toggleSection('users')">
                  <i class="fa-solid fa-user"></i>
                  Users
                  </a>
               </li>
            </ul>
            <ul>
               <li>
                  <a href="#" onclick="toggleSection('products')">
                  <i class="fa-solid fa-box"></i>
                  Products
                  </a>
               </li>
            </ul>
            <ul>
               <li>
                  <a href="#" onclick="toggleSection('suppliers')">
                  <i class="fa-solid fa-truck"></i>
                  Suppliers
                  </a>
               </li>
            </ul>
         </div>
      </nav>

      <!-- User Section -->
      <section class="content-section" id="users">
         <div class="container">
            <header>
               <h2>User Overview</h2>
            </header>
            <form onsubmit="event.preventDefault(); newUser(
               document.getElementById('FName'),
               document.getElementById('MName'),
               document.getElementById('LName'),
               document.getElementById('Email'),
               document.getElementById('Password'),
               document.getElementById('RoleID')
            );">
               <div class="row">
                  <div class="col-6">
                     <input type="text" id="FName" name="FName" placeholder="First name">
                  </div>
                  <div class="col-6">
                     <input type="text" id="MName" name="MName" placeholder="Middle name">
                  </div>
                  <div class="col-6">
                     <input type="text" id="LName" name="LName" placeholder="Last name">
                  </div>
                  <div class="col-12">
                     <input type="email" id="Email" name="Email" placeholder="Email">
                  </div>
                  <div class="col-12">
                     <input type="password" id="Password" name="Password" placeholder="Password">
                  </div>
                  <div class="col-6">
                     <select id="RoleID" name="RoleID">
                        <option value="" disabled selected>Select a role</option>
                     </select>
                  </div>
                  <div class="col-12">
                     <button type="submit">Add New User</button>
                  </div>
               </div>
            </form>
         </div>
      </section>

      <!--  Product Section -->
      <section class="content-section" id="products">
         <div class="container">
            <header>
               <h2>Product Overview</h2>
            </header>
            <form onsubmit="event.preventDefault(); newProduct(document.getElementById('SupplierID'), document.getElementById('ProductName'), document.getElementById('ProductNumber'));">
               <div class="row">

                  <div class="col-12">
                     <select id="SupplierID" name="SupplierID">
                        <option value="" disabled selected>Select a supplier</option>
                     </select>
                  </div>
                  <div class="col-6">
                     <input type="text" id="ProductName" name="ProductName" placeholder="Name">
                  </div>

                  <div class="col-6">
                     <input type="number" id="ProductNumber" name="Number" placeholder="Number" min="0"></input>
                  </div>
                  <div class="col-12">
                     <button type="submit">Add New Product</button>
                  </div>
               </div>
            </form>
         </div>
      </section>

      <!-- Supplier Section -->
      <section class="content-section" id="suppliers">
         <div class="container">
            <header>
               <h2>Supplier Overview</h2>
            </header>
            <form onsubmit="event.preventDefault(); newSupplier(document.getElementById('SupplierName'));">
               <div class="row">
                  <div class="col-12">
                     <input type="text" id="SupplierName" name="SupplierName" placeholder="Name">
                  </div>
                  <div class="col-12">
                     <button type="submit">Add New Supplier</button>
                  </div>
               </div>
            </form>
         </div>
      </section>
      <script>
         function toggleSection(sectionId) {
             var sections = document.querySelectorAll('.content-section');
             sections.forEach(function(section) {
                 if (section.id === sectionId) {
                     section.style.display = section.style.display === 'none' ? 'block' : 'none';
                 } else {
                     section.style.display = 'none';
                 }
             });
         }
      </script>
      <script src="../public/scripts/navigate.js"></script>
   </body>
</html>