body {
    background-color: whitesmoke;
    }
    section {
    padding: 3em;
    height: 100%;
    position: relative;
    z-index: 0;
    }
    .container header {
    background-color: whitesmoke;
    }
    .col-sm {
    padding:25px 0 0 25px;
    box-sizing: border-box;
    }  
    .col-6 {
    width: 50%;
    padding: 25px;
    box-sizing: border-box;
    }
    .col-12 {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    }
    .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    }
    form {
    border: solid 1px rgba(0, 0, 0, 0.15);
    }
    form input[type="text"], form input[type="number"], form input[type="email"], form input[type="password"], form textarea, form select {
    padding: 0.75em 1em 0.75em 1em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
    width: 100%;
    box-sizing: border-box;
    }
    #nav ul {
    list-style: none;
    border-bottom: white 1px solid;
    }
    #nav ul li a {
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: white;
    text-decoration: none;
    }
    #nav {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    box-shadow: inset -0.25em 0.25em rgba(0, 0, 0, 0.25);
    background: #282a35;
    width: 15%;
    height: 100%;
    position: absolute;
    }
    .container {
    margin-left: 25%;
    margin-right: 10%;
    }
    .content-section {
    text-align: center;
    display: none;
    }
    .create {
    display: block;
    border: none;
    }

    form, fieldset {
        border-style: none;
    }

    form label {
        text-align: right;
        display: block;
    }
    form #ProductNumber {
        padding-left: 5px;
        text-align: left;
    }

    form input[type="radio"] + label {
        display: inline;
        text-align: left;
    }

    .alt-style {
        background-color: black;
        color: white;
    }