
body {
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    background-color: #fff;
    margin: 0;
    height: 100vh;
}

html,
body {
    overflow-x: hidden; /* TEMP FIX: Delete later once issue if fixed */
}
/* ----- Header ----- */

header {
    border: none;
}

h2 {
    font-size: 2.5em;
}

td{
    vertical-align: middle;
}
/* ----- Footer ----- */

footer {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    align-items: center !important;
    justify-content: space-between !important;
    border-top: 1px solid #c4c3c6;
    display: flex !important;
}

/* Flexbox layout for header */
.header-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

/* User info styling */
.user-info p {
    color: #333;
    font-size: 16px;
    text-decoration: underline;
}

/*====================
    Navigation Styles
====================*/

.nav-bar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alt-style {
    background-color: #e3e7f2 !important;
}
header {
    background-color: white !important;
    
}

nav {
    margin-bottom: 0px !important;
}

nav.header-nav ul li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 30px;
    cursor: pointer;
}

.nav-item {
    color: #333;
    font-size: 14px;
    margin-right: 6px;
    padding: 6px 8px;
    text-decoration: none;
}

/* Hover effect for nav items */
.nav-item:hover {
    cursor: pointer;
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 40px;
    height: 40px;
}

/*====================
    Dashboard Styles
====================*/
.recent-forms,
.home-nav {
    max-width: 80%;
    margin: 0 auto;
}

.recent-forms h2 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

.recent-forms table {
    font-size: 1.5em;
    width: 100%;
    border-collapse: collapse;
}

.home-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.home-nav a { 
    align-items: center;    
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin: 10px;
    padding: 20px;    
    width: 225px;
}

.home-nav img {
    height: auto;
    width: 150px;
    padding: 20px;
}

/*====================
    Header Style
====================*/

.navbar a {
    font-size: 2em;
}

.navbar-brand {
    margin-top: 15px;
    width: 200px;
    padding: 0px;
  }

.navbar-brand img{
    padding-left: 0.75em;
    width: 100%;
    object-fit: contain;
}

li.active {
    background-color: #d4defa;
}

.nav>li>a:hover {
    background-color: #d4defa !important;
}

/*.navbar-nav li.active{
    background-color: #282a35;
}

/*====================
    Notification
====================*/

span.badge {
    position: absolute;
    top: 0px;
    border-radius: 50rem;
    transform: translate(-100%, 0%);
    left: 100%;
    display: inline-block;
    font-size: 0.5em;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #dc3545;
}

.notif-container {
    padding: 15px;
    width: 320px;
    font-size: large;
}

.notif-container li {
    height: 65px;
    width: 100%;
}

.notif-container a {
    font-size: large;
}

.navbar-right .dropdown-menu.notif-container{
    right: -120px;
}

.list-group-item button {
    float: right;
}
/*====================
    Modals
====================*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*====================
    Color Scheme
====================*/

label.error {
    color: #c1121f;
}

/*====================
   Tool Nav Style
====================*/

#nav.tools ul {
    list-style: none;
    border-bottom: white 1px solid;
}

#nav.tools ul li a {
    display: none;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: white;
    text-decoration: none;
}

#nav.tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    box-shadow: inset -0.25em 0.25em rgba(0, 0, 0, 0.25);
    background: #282a35;
    top: 0;
    position: sticky;
}

/*====================
    Body Style
====================*/

section.tools {
    padding: 3em;
    flex-grow: 1;
    position: relative;
}

.container.tools,
.container.edit {
    margin-right: 10%;
}
.container.edit {
    align-items: center;
}
.content-section {
    text-align: center;
    display: none;
}

/* Helps keep the nav tool bar beside the content for editing */
.container-tools {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

/*====================
    Form Style
====================*/

.container header {
    background-color: white;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group .form-control.is-invalid, .input-group .form-select.is-invalid, .was-validated .input-group .form-control:invalid, .was-validated .input-group .form-select:invalid {
    z-index: 2;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.form-control {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    display: block;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}
.is-valid~.valid-feedback, .is-valid~.valid-tooltip, .was-validated :valid~.valid-feedback, .was-validated :valid~.valid-tooltip {
    display: block;
}
.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #198754;
}

/*====================
    Form Controls
====================*/

/* ----- All Inputs ----- */
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form textarea,
form select {
    padding: 0.75em 1em 0.75em 1em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: normal;
    min-height: 44px;
}

form input[type="radio"] + label {
    font-weight: normal;
}


form input[type="text"]:disabled,
form input[type="number"]:disabled,
form input[type="email"]:disabled,
form input[type="password"]:disabled,
form input[type="date"]:disabled,
form textarea:disabled,
form select:disabled {
    color: #1b1b1b;
    background-color: #e9e9e9;
}

/* ----- Buttons ----- */

button {
    min-height: 44px;
    min-width: 44px;
}


button.yes,
button.no, button.info {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    padding: .5rem 1rem;
    font-size: 1.25em;
}

button:focus {
    outline-offset: 2px;
    outline: 2px solid #0806a2;
}

button.yes {
    background-color: #3b8741;
}

button.yes:hover {
    background-color: #306339;
}

button.no {
    background-color: #c1121f;
}

button.no:hover {
    background-color: #af0606;
}

button.info {
    background-color: white;
    color: black;
    border: 3px solid #17A2B8;
}

span.no {
    color: #c1121f;
}

/*====================
    WCAG Compliance
====================*/

form:focus,
form textarea:focus,
form select:focus,
form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus {
    outline-offset: 2px;
    outline: 2px solid #0806a2;
}

/*========================
        Details/View
========================*/

.center {
    margin: auto;
    padding: 10px;
    width: 90%;
}

.listbutton {
    margin: 5px;
}

.detailheader {
    margin-top: 10px;
}

#filterSection input, select{
    height:30px
}

.grid-container{
    display: grid;
    font-size: 1.2em;
}

.grid-filter{
    grid-template-columns: auto, auto;
}

.grid-qlt{
    grid-template-columns: 300px auto auto;
    grid-template-areas:
    'quality empty empty'
    'supplier supplier NCRnum'
    'process process productNum'
    'item item saleOrder'
    'defect defect qRecieved'
    'defect defect qDefective'
    'nonConform nonConform nonConform'
    'qualName qualName qualDate' 
    ;
    
    padding-top: 16px;
}

.grid-eng{
    grid-template-columns: 300px auto auto;
    grid-template-areas: 
    'engineering empty2 empty2'
    'review review review'
    'notify notify notify'
    'dispo dispo dispo'
    'updateDraw updateDraw updateDraw'
    'ogRev ogRev newRev'
    'engName engName engDate'
    ;
}

.grid-pur{
    grid-template-columns: 300px auto auto;
    grid-template-areas:
    'purchasing empty3 empty3'
    'decision decision decision'
    'CAR CAR carNum'
    'followUp followUpType followUpDate'
    'purName purName purDate';
    ;
}

.grid-item{ padding: 10px }

.blue-grid{ background-color: #B9DFE9; }
.green-grid{ background-color: #AAF3AA; }
.pink-grid{ background-color: #FFC7CE; }

.grid-tab{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    text-align: center;
}

.grid-top-right{ border-top-right-radius: 1em; }

.grid-bottom-right{
    border-bottom-right-radius: 1em;
    margin-bottom: 20px;
}
.grid-bottom-left{
    border-bottom-left-radius: 1em;
    margin-bottom: 20px;
}

.grid-item-qty{ grid-area: quality; }
.grid-item-eng{ grid-area: engineering; }
.grid-item-pur{ grid-area: purchasing; }

.grid-item input[type="text"]{
    border: none;
    background-color: hsla(0, 0%, 0%, 0);
    color: black;
}

.quality-item1{ grid-area: process; }
.quality-item2{ grid-area: supplier; }
.quality-item3{ grid-area: NCRnum; }
.quality-item4{ grid-area: item; }
.quality-item5{ grid-area: productNum; }
.quality-item6{ grid-area: defect; }
.quality-item7{ grid-area: saleOrder; }
.quality-item9{ grid-area: qRecieved; }
.quality-item10{ grid-area: qDefective; }
.quality-item11{ grid-area: nonConform; }
.quality-item12{ grid-area: qualName; }
.quality-item13{ grid-area: qualDate; }

.eng-item1{ grid-area: review; }
.eng-item2{ grid-area: notify; }
.eng-item3{ grid-area: dispo; }
.eng-item4{ grid-area: updateDraw; }
.eng-item5{ grid-area: ogRev; }
.eng-item6{ grid-area: newRev; }
.eng-item7{ grid-area: engName; }
.eng-item8{ grid-area: engDate; }

.pur-item1{ grid-area: decision; }
.pur-item2{ grid-area: CAR; }
.pur-item3{ grid-area: carNum; }
.pur-item4{ grid-area: followUp; }
.pur-item5{ grid-area: followUpDate; }
.pur-item6{ grid-area: reinspect; }
.pur-item7{ grid-area: newNCR; }
.pur-item8{ grid-area: purName; }
.pur-item9{ grid-area: purDate; }
.pur-item10{ grid-area: followUpType; }

.light-cells{
    border-style: none;
    border-width: 0px;
    background-color: #e3e7f2;
}

.shaded-cells {
    background-color: #282a35;
    border-color: #282a35;
    border-style: none;
    border-width: 0px;
    color: white;
}

.text-center {
    text-align: center;
}

.wide {   
    font-size: 1.2em;
    width: 100%;
}

/*=============
    Info Page
=============*/
.QandA{
    font-size: 1.5em;
    width: 50%;
}

.QandA h2{
    text-align: center;
    padding-bottom: 12px;
}


/*========================
        PDF Preview
========================*/
#pdf-preview-container {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    display: block;
    border: 4px solid black;
}

.download-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
  }
#pdfDownload{
width: 200px;
}
/*========================
        Login
========================*/
.login-logo img{
    width: 75%;
    height: auto;
}

/* Temporary Button Styling */
.populate-login{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.populate-login button{
    width: 100px;
}

/*========================
      Download Modal
========================*/

#confirmationModal .modal-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#confirmationModal .modal-title {
    font-size: 24px;
    text-align: center;
}

#confirmationModal .modal-body {
    text-align: center;
}

#confirmationModal .btn {
    margin: 0 10px; 
}

/*========================
        Media Queries
========================*/

/* Laptop L */
@media screen and (max-width: 1440px) {
    .logo img {
        width: 400px;
    }
    nav.header-nav ul li {
        font-size: 27px;
    }
    .header-content {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

/* Laptop */
@media screen and (max-width: 1024px) {
    .home-nav {
        max-width: 100%;
    }
    .header-content {
        grid-template-columns: 1fr 3fr 1fr;
    }
    nav.header-nav ul li {
        font-size: 25px;
    }
    nav.header-nav ul {
        padding-left: 0%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .home-nav {
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
        justify-items: center;
    }
    .home-nav div:nth-child(3) {
        grid-column: span 2;
        text-align: center;
    }

    /* Hiding desktop/laptop navigation */
    nav.header-nav ul {
        display: none;
    }
    .header-content {
        grid-template-columns: 7fr 1fr 1.5fr;
    }
    .menu-icon {
        display: inline-block;
    }

    /* Mobile Menu List */
    #menu-list {
        display: none;
        flex-direction: column;
        background-color: #f3f3f3;
        padding: 10px;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    #menu-list li {
        padding: 12px 20px;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
    }

    #menu-list li a {
        color: #333;
    }
}

/* Mobile L */
@media screen and (max-width: 425px) {
    h2 {
        font-size: 2em;
    }
    .home-nav {
        max-width: 100%;
    }
    .home-nav div {
        width: 125px;
    }
    .home-nav img {
        height: auto;
        width: 125px;
        padding: 10px;
    }
    .home-nav button {
        width: 125px;
    }

    .logo img {
        width: 200px;
    }
    .menu-icon img {
        width: 30px;
        height: 30px;
    }
    .header-content {
        grid-template-columns: 3fr 1fr 1fr;
    }
    .recent-forms table {
        font-size: 18px;
    }
    .recent-forms td,
    .recent-forms th {
        padding: 6px;
    }
}

/* Mobile M*/
@media screen and (max-width: 375px) {
    .home-nav div {
        width: 100px;
    }
    .home-nav img {
        width: 100px;
        padding: 10px;
    }
    .home-nav button {
        width: 100px;
    }
}

/* Mobile S */
@media screen and (max-width: 320px) {
    .logo img {
        width: 175px;
    }
    .home-nav div {
        width: 75px;
    }
    .home-nav img {
        width: 75px;
        padding: 5px;
    }
    .home-nav button {
        width: 75px;
    }
    .header-content {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .recent-forms table {
        font-size: 15px;
    }
}
