body {
    font-family: 'Oswald', sans-serif;
}

/* ----- Header ----- */

header {
    background-color: #e3e7f2;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

/* ----- Footer ----- */
footer{
    background-color: #e3e7f2;
    text-align: center;
}

/*----- Table -----*/               /* ALL OF THIS TABLE STUFF CAN BE TURNED INTO CLASSES IF NEED BE */
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

/*----- Table Headings -----*/
th{
    text-align: left;
}

/*----- Table Headings and Definitions -----*/

th, td{
    padding: 5px;
}

/* Flexbox layout for header */
.header-content {
    align-items: center; /* Centers items vertically */
    display: flex;
    justify-content: space-between; /* Spreads the logo and user info to opposite ends */
}

.commit-bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

/* Logo styling */
.logo img {
    height: auto;
    width: 100px;
}

/* User info styling */
.user-info p {
    color: #333;
    font-size: 16px;
    text-decoration: underline;
}

/* ----- Navigation Bar ----- */
.header-nav {
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}

.nav-item {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    margin-right: 6px;
    padding: 6px 8px;
    transition: background-color 0.3s;
    text-decoration: none;
}

/* Hover effect for nav items */
.nav-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* ----- Form Content ----- */

.header-form {
    background-color: #fffff0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}

.header-form-item {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    margin-right: 6px;
    padding: 6px 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

/* Hover effect for nav items */
.header-form-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 150px; /* Fixed width for labels */
    margin-right: 10px; /* Space between label and input */
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    flex: 1;  /*Input fields take up the remaining space */
    box-sizing: border-box;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    flex: 1;  /*Input fields take up the remaining space */
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}