body {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    margin: 0;
    height: 100vh;
}

html, body{
    overflow-x: hidden; /* TEMP FIX: Delete later once issue if fixed */
}
/* ----- Header ----- */

header {
    background-color: #d9d9d9;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
}

h2 {
    font-size: 2.5em;
}
/* ----- Footer ----- */
footer {
    background-color: #d9d9d9;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: auto; 
    position: relative;
    bottom: 0;
}

/*----- Table -----*/               /* ALL OF THIS TABLE STUFF CAN BE TURNED INTO CLASSES IF NEED BE */
.TableBorders{
    border: 1px solid black;
    border-collapse: collapse;
}

/*----- Table Headings -----*/
th{
    text-align: left;
}

/*----- Table Headings and Definitions -----*/

th, td{
    padding: 5px;
}

/* Flexbox layout for header */
.header-content {   
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;  
    align-items: center;
}
    
/* Logo styling */
.logo img {
    height: auto;
    width: 500px;
}

/* User info styling */
.user-info p {
    color: #333;
    font-size: 16px;
    text-decoration: underline;
}

/*====================
    Navigation Styles
====================*/

nav.header-nav ul li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 30px;
    cursor: pointer;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.nav-item {
    color: #333;
    font-size: 14px;
    margin-right: 6px;
    padding: 6px 8px;
    text-decoration: none;
}

/* Hover effect for nav items */
.nav-item:hover {
    cursor: pointer;
}

.menu-icon{
    display: none;
}

.menu-icon img {
    width: 40px;
    height: 40px;
}


/*====================
    Dashboard Styles
====================*/
.recent-forms, .home-nav {
    max-width: 80%;
    margin: 0 auto;
}

.recent-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
 }

.recent-forms h2 {
    margin-top: 8px;
    margin-bottom: 0%;
}

.recent-forms table {
    font-size: 30px;
    width: 80%;
    border-collapse: collapse;
}

.recent-forms th{
    text-align: center;
}
.recent-forms td{
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}
.home-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;            
}  

.home-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    border: 10px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 10px;     
}

.home-nav img {
    height: auto;
    width: 150px;
    padding: 20px;
}

.home-nav button {
    width: 200px;
}

/*====================
    Notification
====================*/

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 40%;
  }


  .notification:hover {
    background: rgb(145, 122, 122);
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  /*====================
    Modals
====================*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

/*====================
    Color Scheme
====================*/

label.error {
    color: #C1121F;
}

/*====================
   Tool Nav Style
====================*/

#nav ul {
    list-style: none;
    border-bottom: white 1px solid;
}

#nav ul li a {
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: white;
    text-decoration: none;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: right;
    box-shadow: inset -0.25em 0.25em rgba(0, 0, 0, 0.25);
    background: #282a35;
    top: 0;
    position: sticky;
}


/*====================
    Body Style
====================*/

section.tools {
    padding: 3em;
    flex-grow: 1;
    position: relative;
}
    
.container.tools, .container.edit{
    margin-right: 10%;
}
.container.edit{
    align-items: center;
}
.content-section {
    text-align: center;
    display: none;
}

/* Helps keep the nav tool bar beside the content for editing */
.container-tools{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

/*====================
    Form Style
====================*/

.container header {
    background-color: white;
}

/*====================
    Form Controls
====================*/

/* ----- All Inputs ----- */
form input[type="text"], form input[type="number"], form input[type="email"], form input[type="password"], form input[type="date"], form textarea, form select {
    padding: 0.75em 1em 0.75em 1em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

form input[type="text"]:disabled, form input[type="number"]:disabled, 
form input[type="email"]:disabled, form input[type="password"]:disabled, 
form input[type="date"]:disabled, form textarea:disabled, 
form select:disabled {
    color: #1b1b1b;
    background-color: #e9e9e9;
}

/* ----- Buttons ----- */

button{
    min-height: 44px;
    min-width: 44px;
}

button.yes, button.no {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:focus {
    outline-offset: 2px;
    outline: 2px solid #0806A2;
}

button.yes {
    background-color: #3b8741;
}

button.yes:hover {
    background-color: #306339;
}

button.no {
    background-color: #C1121F;
}

button.no:hover {
    background-color: #af0606;
}

span.no {
    color: #C1121F;
}


/*====================
    WCAG Compliance
====================*/

form:focus, form textarea:focus, form select:focus,
form input[type="text"]:focus, form input[type="number"]:focus, 
form input[type="email"]:focus, form input[type="password"]:focus,
form input[type="date"]:focus {
    outline-offset: 2px;
    outline: 2px solid #0806A2;
}

/*========================
        Details/View
========================*/

.center{
    margin:auto;
    padding: 10px;
    width: 90%;
}

.listbutton{
    margin: 5px;
}

.detailheader{
    margin-top: 10px;
}

.grid-container-document{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto, auto, auto;
}

.grid-container-quality{
    display: grid;
    grid-template-areas:
    'process supplier NCRnum'
    'item item productNum'
    'defect defect saleOrder'
    'empty empty qRecieved'
    'empty empty qDefective'
    'nonConform nonConform nameDate' ;
}

.qualtity-item1{ grid-area: process; }
.qualtity-item2{ grid-area: supplier; }
.qualtity-item3{ grid-area: NCRnum; }
.qualtity-item4{ grid-area: item; }
.qualtity-item5{ grid-area: productNum; }
.qualtity-item6{ grid-area: defect; }
.qualtity-item7{ grid-area: saleOrder; }
.qualtity-item8{ grid-area: empty; }
.qualtity-item9{ grid-area: qRecieved; }
.qualtity-item10{ grid-area: qDefective; }
.qualtity-item11{ grid-area: nonConform; }
.qualtity-item12{ grid-area: nameDate; }

.grid-item-qty{
    background-color: blue;
    grid-column: 1;
    grid-row: 1;
}

.grid-item-eng{
    grid-column: 1;
    grid-row: 2;
    background-color: green;
}

.grid-item-pur{
    grid-column: 1;
    grid-row: 3;
    background-color: red;
}

.light-cells{
    border-style: none;
    border-width: 0px;
    background-color: #e3e7f2;
}

.shaded-cells{
    background-color: #282a35;
    border-color: #282a35;
    border-style: none;
    border-width: 0px;
    color: white;
}

.text-center{
    text-align: center;
}

.wide{
    width: 100%;
}   

/*========================
        Media Queries
========================*/

/* Laptop L */
@media screen and (max-width: 1440px){

    .logo img{
        width: 400px;
    }
    nav.header-nav ul li {
        font-size: 27px;
        }
    .header-content {
        grid-template-columns: 1fr 2fr 1fr;           
    } 
}

/* Laptop */
@media screen and (max-width: 1024px){
    .home-nav{
        max-width: 100%;
    }
    .header-content{
        grid-template-columns: 1fr 3fr 1fr;
    }
    nav.header-nav ul li {
        font-size: 25px;
        }
    nav.header-nav ul{
        padding-left: 0%;
        }
}

/* Tablet */
@media screen and (max-width: 768px){
    .home-nav {
        grid-template-columns: repeat(2, 1fr);    
        max-width: 80%; 
        justify-items: center;
    } 
    .home-nav div:nth-child(3) {
        grid-column: span 2;
        text-align: center; 
    } 
    
    /* Hiding desktop/laptop navigation */
    nav.header-nav ul{
        display: none;
    }
    .header-content{
        grid-template-columns: 7fr 1fr 1.5fr;
    }
    .menu-icon {
        display: inline-block;
    }

    /* Mobile Menu List */
    #menu-list {
        display: none; 
        flex-direction: column;
        background-color: #f3f3f3;
        padding: 10px;
        position: absolute;
        top: 60px;  
        right: 0;
        width: 200px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    #menu-list li {
        padding: 12px 20px;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
    }

    #menu-list li a {
        color: #333;
    }
}

/* Mobile L */
@media screen and (max-width: 425px){
    h2{font-size: 2em;}
    .home-nav{
        max-width: 100%;
    }
    .home-nav div{
        width: 125px;
    }
    .home-nav img {
        height: auto;
        width: 125px;
        padding: 10px;
    }
    .home-nav button{
        width: 125px;
    }

    .logo img{
        width: 200px;
    }
    .menu-icon img {
        width: 30px;
        height: 30px;
    }
    .header-content{
        grid-template-columns: 3fr 1fr 1fr;
    }
    .recent-forms table {
        font-size: 18px;
    }
    .recent-forms td, .recent-forms th {
        padding: 6px;
    }
    
}

/* Mobile M*/
@media screen and (max-width: 375px){
    .home-nav div{
        width: 100px;
    }
    .home-nav img {
        width: 100px;
        padding: 10px;
    }
    .home-nav button{
        width: 100px;
    }
}

/* Mobile S */
@media screen and (max-width:320px){
    .logo img{
        width: 175px;
    }
    .home-nav div{
        width: 75px;
    }
    .home-nav img {
        width: 75px;
        padding: 5px;
    }
    .home-nav button{
        width: 75px;
    }
    .header-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .recent-forms table {
        font-size: 15px;
    }
}


